.App {
  text-align: center;
  background-color: lightgreen;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: white;
}
.App-body {
  /* margin-top: 2cm; */
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}
.App-Input {
  height: 130px;
  width: 130px;
  text-align: center;
  text-transform: uppercase;

  font-size: 50px;
}
.App-link {
  color: #61dafb;
}

.App-Answers {
  /* flex-direction: row; */
  columns: 4 auto;
  /* position: absolute; */
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
