/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-link {
  color: #61dafb;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
*/
.App {
  text-align: center;
  align-items: center;
  background-color: #5fcfa2;
  height: 100vh;
}

.App-header {
  /* min-height: 100vh; */
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5.5vh;
  /* font-size: calc(60px + 1vmin); */
  color: white;
}
.App-body {
  /* margin-top: 2cm; */
  height: 88%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App-body-Inner-Container {
  background-color: white;
  width: 80%;
  border-radius: 0.5cm;
}
.App-Letter-Container {
  /* justify-content: center;
  align-items: center; */
  margin-bottom: 0.2cm;
}
.App-Contained-Container {
  justify-content: center;
  flex-direction: row;
  display: flex;
}
.App-Cotained-Text {
  font-size: 1.8vh;
}
.App-Contain-Input {
  height: 60px;
  width: 70%;
  border-width: 0.1cm;
  border-radius: 1cm;
  border-color: #8eb58e;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0.1cm;
}

.App-Input {
  height: 7vh;
  width: 15%;
  border-width: 0.1cm;
  border-color: #8eb58e;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}
.App-Reset {
  margin: 0.1cm;
  border-radius: 1cm;
  width: 8vh;
  height: 8vh;
  font-size: 24px;
}
.App-Answers-Container {
  /* column-count: 4; */
  /* flex-direction: column; */
  margin: 0.5cm;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* grid-gap: 20; */
  overflow-y: scroll;
  height: 100%;
  width: 100vw;
}
.App-Answers-Items {
  /* border-width: 0.5cm;
  border: solid wheat; */
  margin: 0.1cm;
  background-color: white;
  border-radius: 1cm;
  font-size: 3vw;
}
.App-Answers-Items-Container {
  /* border: solid wheat;

  border-width: 0.2cm; */
}
